$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FD5300;
$secondary_paletteKeyColor: #9A6E4E;
$tertiary_paletteKeyColor: #9A6F34;
$neutral_paletteKeyColor: #88726B;
$neutral_variant_paletteKeyColor: #8C7169;
$background: #FFF8F6;
$onBackground: #271813;
$surface: #FFF8F6;
$surfaceDim: #F0D4CC;
$surfaceBright: #FFF8F6;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF1ED;
$surfaceContainer: #FFE9E3;
$surfaceContainerHigh: #FFE2DA;
$surfaceContainerHighest: #F9DDD4;
$onSurface: #271813;
$surfaceVariant: #FDDBD1;
$onSurfaceVariant: #58423A;
$inverseSurface: #3D2C27;
$inverseOnSurface: #FFEDE8;
$outline: #896F66;
$outlineVariant: #DFC0B6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #AB3500;
$primary: #AB3500;
$onPrimary: #FFFFFF;
$primaryContainer: #FFDBD0;
$onPrimaryContainer: #832700;
$inversePrimary: #FFB59C;
$secondary: #7E5537;
$onSecondary: #FFFFFF;
$secondaryContainer: #FDC7A1;
$onSecondaryContainer: #633E22;
$tertiary: #976C32;
$onTertiary: #FFFFFF;
$tertiaryContainer: #976C32;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFDBD0;
$primaryFixedDim: #FFB59C;
$onPrimaryFixed: #390C00;
$onPrimaryFixedVariant: #832700;
$secondaryFixed: #FFDCC5;
$secondaryFixedDim: #F1BC97;
$onSecondaryFixed: #301400;
$onSecondaryFixedVariant: #633E22;
$tertiaryFixed: #FFDDB6;
$tertiaryFixedDim: #F2BD7A;
$onTertiaryFixed: #2A1800;
$onTertiaryFixedVariant: #633F06;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
