$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FFB200;
$secondary_paletteKeyColor: #897544;
$tertiary_paletteKeyColor: #867733;
$neutral_paletteKeyColor: #827563;
$neutral_variant_paletteKeyColor: #84755F;
$background: #FFF8F3;
$onBackground: #231A0D;
$surface: #FFF8F3;
$surfaceDim: #E9D8C2;
$surfaceBright: #FFF8F3;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF2E2;
$surfaceContainer: #FDEBD5;
$surfaceContainerHigh: #F7E6D0;
$surfaceContainerHighest: #F1E0CA;
$onSurface: #231A0D;
$surfaceVariant: #F4E0C5;
$onSurfaceVariant: #524532;
$inverseSurface: #392F20;
$inverseOnSurface: #FFEEDA;
$outline: #82725D;
$outlineVariant: #D7C4AA;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #7F5700;
$primary: #7F5700;
$onPrimary: #FFFFFF;
$primaryContainer: #FFDEAD;
$onPrimaryContainer: #604100;
$inversePrimary: #FFBA3C;
$secondary: #6F5C2E;
$onSecondary: #FFFFFF;
$secondaryContainer: #F7DDA3;
$onSecondaryContainer: #564519;
$tertiary: #837430;
$onTertiary: #FFFFFF;
$tertiaryContainer: #837430;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFDEAD;
$primaryFixedDim: #FFBA3C;
$onPrimaryFixed: #281900;
$onPrimaryFixedVariant: #604100;
$secondaryFixed: #FAE0A6;
$secondaryFixedDim: #DDC48C;
$onSecondaryFixed: #251A00;
$onSecondaryFixedVariant: #564519;
$tertiaryFixed: #F6E292;
$tertiaryFixedDim: #D9C679;
$onTertiaryFixed: #221B00;
$onTertiaryFixedVariant: #534603;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
