* {
    background:     #FFFFFF;
    background-alt: #FFF8F3;
    foreground:     #231A0D;
    selected:       #7F5700;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #7F5700;
}
