* {
    background:     #FFFFFF;
    background-alt: #FFF7FF;
    foreground:     #1E1A24;
    selected:       #8400F1;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #8400F1;
}
